<style>
    footer {
        margin: 0 0 0 0;
        left: 0;
        padding: 16px;
        padding-top: 32px;
        border-top: solid 2px rgb(151, 151, 151);
    }

    footer p {
        color: rgb(204, 204, 204);
    }

    footer p a {
        color: rgb(0, 255, 255)
    }
</style>

<footer style="position: absolute; width: 100%; height: 5rem; background-color: rgb(36, 43, 75);">
    <p>Diese Webseite ist im Ramhen des Vortrages des Technikworkshops des 11. Schülersymposiums des Science College Overbach entstanden. Zur Webseite des Schülersymposiums geht es <a href="http://sciencecollege.de/schuelersymposien/" target="_blank">hier</a>.</p>
    <p>© Teilnehmer des Technikworkshops des 11. Schülersymposiums des Science College Overbach, 2021, All reights reserved</p>
</footer>