body {
    scroll-behavior: smooth;
    margin: 0;
}

#texts p {
    font-family: 'Roboto Mono', monospace;
}

.text {
    margin: 8rem auto 4rem auto;
    border: 1px solid rgb(236, 236, 236);
    background-color: rgb(254, 254, 254);
    padding: 16px;
    max-width: 900px;
    min-height: 40rem;
}

#EETabelle li{
    text-align: left !important;
}
#EETabelle p{
    text-align: left !important;
}