body {
    scroll-behavior: smooth;
}

/*
#texts {
    margin-top: 10rem;
}
*/
#texts p {
    font-family: 'Roboto Mono', monospace;
}

.text {
    margin: 10rem auto 3rem auto;
    border: 1px solid rgb(236, 236, 236);
    background-color: rgb(254, 254, 254);
    padding: 16px;
    max-width: 900px;
}

#EETabelle li{
    text-align: left !important;
}
#EETabelle p{
    text-align: left !important;
}